
# ------- Transient directories
build/
dist/
var/
coverage/
tmp/
run/
log/

# ------- Transient files
*.log
*.logs
Makefile
/macros.m4
*.out

# ------- Environment variables
.env
.env.*
.env.*.local
.env.local

# emacs
\#*\#
.#*
*~
.pdf-view-restore

# vim
:w

# vscode
.vscode

# intellij
.idea

# Node
node_modules/
package-lock.json
